.body {
    background-color: #ffeedd;
    padding: 10px;
}

.logoText {
    font-family: 'Montez', cursive;
    font-size: 40px;
    color:blue;
}

.subText {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 13px;
    color:black;
}

.buttons {
    background-color: blue;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 15px;
    color:white;
    width: 80px;
    margin-top:10px;
    margin-right: 8px;
    border:0;
    height: 30px;
}

.boxed {
    border: 1px;
    padding: 10px;
    border-radius: 25px;

    display: inline-block;
}

.flex-line {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: center;
    width:100%;
}

.singlePost {
    text-align:center;
    padding:2px;
    margin:0 auto;
    width:50%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: center;
    width: 50%;
  }

.flex-item-left {
    padding: 10px;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    width: 120px;
    text-align: center;
    padding-top: 40px;
}

.flex-item-right {
    padding: 10px;
    flex: 50%;
    background: #f1f1f1;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;

}

.flex-item1 {
    padding: 10px;

}

.flex-item2 {
    padding: 10px;

}


/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}
.left_aligh {
    text-align: end;
}

.innerp{
    text-align: left;
    color:darkgrey;
    font-size: 22px;
}

.trash {
    color: black;
    float: right;
    top: 0;
    right: -10px;

    font-size: 18px;
}

.trash:hover,
.trash:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
p{
    fonst-size:12px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* The Close Button */
.close_signin {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close_signin:hover,
.close_signin:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* The Close Button */
.close_createpost {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close_createpost:hover,
.close_createpost:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Full-width input fields */
input[type=text], input[type=password]  {
    width: 100%;
    padding: 10px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.textarea_class {
    width: 100%;
    padding: 10px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
.greenbutton {
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
}

/* Set a style for all buttons */
.redbutton {
    background-color: red;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    float: right;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}